<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragments/header :: header}"></head>
<body>
  <nav th:replace="~{/fragments/navbar :: navbar(memberName=${currentMember?.memberName})}"></nav>
  <div class="container">
    <table class="table table-hover text-center">
      <thead>
        <tr>
          <th scope="col" colspan="2">
            <strong>회원 정보</strong>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">
            <strong>아이디</strong>
          </th>
          <td>
            <span th:text="${profileDto.username}"></span>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <strong>닉네임</strong>
          </th>
          <td>
            <span th:text="${profileDto.nickname}"></span>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <strong>이메일</strong>
          </th>
          <td>
            <span th:text="${profileDto.email}"></span>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <strong>생성일</strong>
          </th>
          <td>
            <span th:text="${#temporals.format(profileDto.createdDate, 'yyyy/MM/dd')}"></span>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <strong>최종 수정일</strong>
          </th>
          <td>
            <span th:text="${#temporals.format(profileDto.lastModifiedDate, 'yyyy/MM/dd')}"></span>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="row">
      <div class="col">
        <div class="d-inline-flex float-end">
          <button class="btn btn-dark mx-1" type="button" th:onclick="|location.href='@{/.well-known/change-password}'|">비밀번호 변경</button>
          <button class="btn btn-dark mx-1" type="button" th:onclick="|location.href='@{/member/modify}'|">정보 수정</button>
          <form class="mx-1" th:action="@{/member/quit}" method="post">
            <button class="btn btn-dark" type="submit">회원 탈퇴</button>
          </form>
        </div>
      </div>
    </div>
    <div th:replace="~{/fragments/footer :: footer}"></div>
  </div>
</body>
</html>