<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}"></head>
<style>
  a {
    color: #111;
    text-decoration-line: none;
  }
  a:hover {
    color: #111;
    text-decoration-line: underline;
  }
  table {
    table-layout: fixed;
    word-wrap: break-word;
  }
</style>
<body>
  <nav th:replace="~{fragments/navbar :: navbar(currentMember=${currentMember})}"></nav>
  <div class="container">
    <div class="py-3 text-center">
      <h3>게시판</h3>
    </div>
    <table class="table table-hover text-center">
      <thead>
      <tr>
        <th scope="col" style="width: 7%">번호</th>
        <th scope="col" style="width: 60%">제목</th>
        <th scope="col" style="width: 13%">작성자</th>
        <th scope="col" style="width: 10%">작성일</th>
        <th scope="col" style="width: 5%">조회</th>
        <th scope="col" style="width: 5%">추천</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="listDto : ${listDtos}">
        <td>
          <small th:text="${listDto.postId}"></small>
        </td>
        <td style="text-align: left">
          <a th:if="${tab == 'best'}" th:unless="${condition.keyword}"
             th:href="@{/post/{id}(id=${listDto.postId}, tab='best', page=${pageNumber+1})}">
            <span th:text="${listDto.title}"></span>
          </a>
          <a th:if="${condition.keyword}"
             th:href="|@{/post/{id}(id=${listDto.postId}, mode=${condition.mode}, keyword=${condition.keyword}, page=${pageNumber+1})}|">
            <span th:text="${listDto.title}"></span>
          </a>
          <a th:unless="${tab == 'best' || condition.keyword != null}"
             th:href="|@{/post/{id}(id=${listDto.postId}, page=${pageNumber+1})}|">
            <span th:text="${listDto.title}"></span>
          </a>
          <small th:if="${listDto.totalComments > 0}"
                 th:text="' [' + ${listDto.totalComments} + '] '"
                 class="text-muted"></small>
        </td>
        <td th:text="${listDto.author}"></td>
        <td>
          <small th:if="${listDto.createdDate.isAfter(listDto.createdDate.now().minusDays(1))}"
                 th:text="${#temporals.format(listDto.createdDate, 'HH:mm')}"></small>
          <small th:unless="${listDto.createdDate.isAfter(listDto.createdDate.now().minusDays(1))}"
                 th:if="${listDto.createdDate.year == listDto.createdDate.now().year}"
                 th:text="${#temporals.format(listDto.createdDate, 'MM.dd')}"></small>
          <small th:unless="${listDto.createdDate.isAfter(listDto.createdDate.now().minusDays(1)) ||
           listDto.createdDate.year == listDto.createdDate.now().year}"
                 th:text="${#temporals.format(listDto.createdDate, 'yyyy/MM/dd')}"></small>
        </td>
        <td><small th:text="${listDto.view}"></small></td>
        <td><small th:text="${listDto.totalVotes}"></small></td>
      </tr>
      <tr th:if="${listDtos.isEmpty()}">
        <td colspan="5" class="text-center">게시글이 없습니다.</td>
      </tr>
      </tbody>
    </table>
    <div class="d-flex">
      <div>
        <button class="btn btn-dark" type="button" th:onclick="|location.href='@{/post}'|">전체글</button>
        <button class="btn btn-danger" type="button" th:onclick="|location.href='@{/post?tab=best}'|">추천글</button>
      </div>
      <div class="ms-auto">
        <button class="btn btn-dark float-right" type="button" th:onclick="|location.href='@{/post/write}'|">글쓰기</button>
      </div>
    </div>
    <div class="mx-auto">
      <nav>
        <ul class="pagination justify-content-center">
          <li class="page-item" th:unless="${pageNumber < 10}">
            <a class="page-link" th:if="${condition.keyword}"
               th:href="@{/post(page=${pageNumber - pageNumber % 10}, mode=${condition.mode}, keyword=${condition.keyword})}">
              <span>&laquo;</span>
            </a>
            <a class="page-link" th:unless="${condition.keyword}"
               th:href="@{/post(page=${pageNumber - pageNumber % 10})}">
              <span>&laquo;</span>
            </a>
          </li>
          <li th:each="page :
             ${#numbers.sequence(
                pageNumber - pageNumber % 10 + 1,
                T(java.lang.Math).min(pageNumber - pageNumber % 10 + 10, T(java.lang.Math).max(totalPages, 1))
             )}"
              th:class="${page == pageNumber + 1 ? 'page-item active' : 'page-item'}">
            <a class="page-link" th:if="${tab == 'best'}" th:unless="${condition.keyword}"
               th:href="@{/post(page=${page}, tab='best')}" th:text="${page}"></a>
            <a class="page-link" th:if="${condition.keyword}"
               th:href="@{/post(page=${page}, mode=${condition.mode}, keyword=${condition.keyword})}" th:text="${page}"></a>
            <a class="page-link" th:unless="${tab == 'best' || condition.keyword != null}"
               th:href="@{/post(page=${page})}" th:text="${page}"></a>
          </li>
          <li class="page-item" th:if="${pageNumber < (totalPages - 1) - (totalPages - 1) % 10}">
            <a class="page-link" th:if="${condition.keyword}"
               th:href="@{/post(page=${pageNumber - pageNumber % 10 + 11}, mode=${condition.mode}, keyword=${condition.keyword})}">
              <span>&raquo;</span>
            </a>
            <a class="page-link" th:unless="${condition.keyword}"
               th:href="@{/post(page=${pageNumber - pageNumber % 10 + 11})}">
              <span>&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="row">
      <div class="col-5 m-auto">
        <form action method="get" th:object="${condition}">
          <div class="input-group">
            <div class="input-group-prepend">
              <select class="form-control" th:field="*{mode}">
                <option value="TITLE_CONTENT" selected>제목/내용</option>
                <option value="TITLE">제목</option>
                <option value="CONTENT">내용</option>
                <option value="AUTHOR">글쓴이</option>
                <option value="COMMENT">댓글</option>
              </select>
            </div>
            <input class="form-control" id="search" type="text" th:field="*{keyword}">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="submit">검색</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div th:replace="~{fragments/footer :: footer}"></div>
  </div>
</body>
</html>